@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #1a73e8;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1, footer p {
    margin: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px; /* Adjust this as needed */
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    /*padding: 50px;*/
    flex: 1;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

h2 {
    color: #1a73e8;
    margin-bottom: 30px;
}

button {
    background-color: #1a73e8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.3s ease-in-out;
}

button:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}


label {
    color: #1a73e8;
    font-weight: 500;
}

.required {
    color: red;
}

.slider-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row !important;
    column-gap: 10px;
    align-items: center !important;
    justify-content: center;
}

.slider-text {
    position: absolute;
    top: -20px; /* Adjust the positioning as needed */
    left: 50%; /* Adjust the positioning as needed */
    transform: translateX(-50%);
    background-color: #f9f9f9;
    padding: 5px 10px;
    border-radius: 4px;
    display: none;
}

#interest-slider:hover + .slider-text {
    display: block;
}

.delete-interest {
    display: flex;
    align-items: center;
    position: absolute; /* Change from relative to absolute */
    height: 35px;
    right: 0.5rem; /* Unhide this */
    /*top: 0rem; !* Add this if you want the button to be exactly on the top right corner of the input box *!*/
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 100;
    /*opacity: 0;*/
    width: 35px; /* Make the width same as height */
    justify-content: center; /* Add this to center the content */
    top: 10px;
}

.add-interest {
    display: flex;
    align-items: center;
    /*top: 0rem; !* Add this if you want the button to be exactly on the top right corner of the input box *!*/
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 100;
    /*opacity: 0;*/
    justify-content: center; /* Add this to center the content */
    width: 35px; /* Make the width same as height */
    height: 35px;
    color: #841a1a;
    /*padding-right: 0.1rem;*/
    font-size: 1rem;
    /*padding-left: 10px;*/
    margin: auto;
    position: relative;
}


.tooltip {
    display: none;
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 100%; /* position it below the button */
    left: 50%; /* center it horizontally */
    transform: translateX(-50%); /* align center */
    white-space: nowrap; /* Prevent the text inside from wrapping */
}

.add-interest-tooltip {
    display: none;
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 100%; /* position it below the button */
    left: 150%; /* center it horizontally */
    transform: translateX(-50%); /* align center */
    white-space: nowrap; /* Prevent the text inside from wrapping */
}

.interest-container:hover .delete-interest {
    opacity: 1;
}

.delete-interest .delete-text {
    color: #841a1a;
    /*padding-right: 0.1rem;*/
    font-size: 1rem;
    /*padding-left: 10px;*/
}

.delete-interest img {
    /*padding-left: 10px;*/
    /*margin: auto 5px;*/
    filter: invert(8%) sepia(91%) saturate(4481%) hue-rotate(356deg) brightness(93%) contrast(84%);
}

.add-interest img {
    /*padding-left: 10px;*/
    /*margin: auto 5px;*/
    /*filter: invert(8%) sepia(91%) saturate(4481%) hue-rotate(356deg) brightness(93%) contrast(84%);*/
}

.delete-interest:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Add a semi-transparent circle */
}

.add-interest:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Add a semi-transparent circle */
}

.interest-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 99% !important;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
    position: relative; /* Add this */
    justify-content: center;
}

.interest-container-with-suggestions {
    /*display: flex;*/
    /*justify-content: space-between;*/
    flex-direction: column;
    width: 100% !important;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 15px
}

#interests {
    /*margin-bottom: 5px;*/
    max-width: 630px;
    width: 90%;
}

#interests-tag {
    float: left !important;
    margin: 0;
    width: 100% !important;
}

#interests > *:not(#interests-tag) > *:not(.suggestion-container) > *:not(.customize-check-box) {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.suggestion-container {
    margin-top: 15px;
    color: grey;
}

.input-wrapper {
    position: relative; /* To use as anchor for absolute position of .delete-interest */
    width: 94%; /* Adjust the width to your needs */
}


input[type="text"] {
    height: 45px;
    width: 100%; /* Set your desired width */
    position: relative; /* Add relative positioning here */
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #1a73e8;
    min-width: 240px;
    z-index: 10;
}

input[type="email"] {
    width: 90%; /* Reduced the width */
    height: 45px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #1a73e8;
    max-width: 600px;
    min-width: 240px;
}

input[type="range"] {
    width: 80%; /* Reduced the width */
    height: 25px;
    margin-left: 15px; /* Added some space between the text field and the slider */
}

.honeypot-field {
    display: none;
}

.subscription-entry {
    display: none;
}

.suggestion-link:hover {
    color: blue;
}

.plus-button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 24px;
}


#subscribe-button {
    display: inline-block;
    width: auto; /* adjust width here */
    /*margin: 20px 0;*/
    text-align: left; /* align text to the left */
    float: left; /* position button to the left */
    margin-top: 10px;
    color: white;
}

input[type="checkbox"] {
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

.form-control + .form-control {
    margin-top: 1em;
}

.subscribe-container {
    Display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
}

.customize-check-box {
    margin-top: 0.5em;
    width: 90% !important;

}

input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 8px;
}

.customize-check-box-label {
    color: black;
    font-size: 1.01em;
}

.subscribe-button-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*gap: 15px;*/
    width: 100%;
    max-width: 700px;
}

#email-tag {
    float: left !important;
    margin: 0;
    width: 90%;
}

.subscribe-button-container > *:not(#email-tag) > *:not(.customize-check-box) {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

@media (max-width: 600px) {
    .subscribe-button-container > div {
        width: 100%;
    }
}

.heading-description {
    margin: auto;
    align-items: center;
    text-align: center;
    width: 90%;
}

.thankyou_message {
    margin: auto;
    align-items: center;
    text-align: center;
    width: 50%;
}

.form-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tryout-text_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 0.5em;
    margin: 30px;
    color: #686868; /* dark grey */
    cursor: default;
}

.tryout-text_button:hover {
    color: black;
    cursor: pointer;
}

.tryout-text_button:hover a {
    color: black;
}

.tryout-text,
.fa-arrow-right {
    color: inherit;
    transition: color 0.3s ease;
}


.top-interest-container {
    box-sizing: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /*gap: 15px;*/
    width: 100%;
    max-width: 700px;
    margin-top: 10px;
}








